body, html {
  padding: 0;
}

body {
  background: transparent;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Loved by the King', cursive;
}

.back-ground {
    background: url(/images/wedss2.jpg);
    background-repeat: no-repeat;
    opacity: 0.2;
    background-size: cover;
    background-position: -1px -250px;
    height: 100%;
    width: 100%;
}

.invitation-name {
  color: deeppink;
  text-align: center;
}

.invitation-name-span {
  font-size: 100px;
}

.invit-block {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.invite-weds {
  font-size:60px;
  padding: 0px 20px; 
  color:#f774bb;
}

#timeleftSecond {
  width: 150px;
  overflow: hidden;
  display: inline-block;
}

#timeleftDay {
  width: 150px;
  overflow: hidden;
  display: inline-block;
}

#timeleftHours {
  width: 150px;
  overflow: hidden;
  display: inline-block;
}

#timeleftMin {
  width: 150px;
  overflow: hidden;
  display: inline-block;
}


svg {
    position: absolute;
    font: 6em 'Loved by the King';
    width: 100%;
    height: 800px;
    margin: 0 auto;
}

.text-copy {
    fill: deeppink;
    stroke: #fff;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: deeppink;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: deeppink;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: deeppink;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: deeppink;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: deeppink;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

.day-left {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%,-50%);
   font-family: 'Romanesco', cursive;
}



@media (max-width: 1350px) {
.invitation-name-span {
  font-size: 80px;
}


.invite-weds {
  font-size: 40px;
}

}
@media (max-width: 1200px) {
  .invitation-name-span {
  font-size: 60px;
}


.invite-weds {
  font-size: 30px;
}
}
@media (max-width: 1024px) {
  .invitation-name-span {
  font-size: 60px;
}

.back-ground {
  background-position: -130px 0px;
}


.invite-weds {
  font-size: 30px;
}
}
@media (max-width: 860px) {
    .invitation-name-span {
  font-size: 60px;
}

.back-ground {
  background-position: -130px 0px;
}
.invite-weds {
  font-size: 30px;
}

}


@media (max-width: 660px) {
    .invitation-name-span {
  font-size: 40px;
}

.back-ground {
  background-position: -130px 0px;
}
.invite-weds {
  font-size: 20px;
}


#timeleftSecond {
  width: 80px;
  overflow: hidden;
  display: inline-block;
}

#timeleftDay {
  width: 80px;
  overflow: hidden;
  display: inline-block;
}

#timeleftHours {
  width: 80px;
  overflow: hidden;
  display: inline-block;
}

#timeleftMin {
  width: 80px;
  overflow: hidden;
  display: inline-block;
}

.day-left {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
   font-family: 'Romanesco', cursive;
}

}

@media (max-width: 320px) {
    .invitation-name-span {
  font-size: 40px;
}

.back-ground {
  background-position: -130px 0px;
}
.invite-weds {
  font-size: 20px;
}


#timeleftSecond {
  width: 70px;
  overflow: hidden;
  display: inline-block;
}

#timeleftDay {
  width: 70px;
  overflow: hidden;
  display: inline-block;
}

#timeleftHours {
  width: 70px;
  overflow: hidden;
  display: inline-block;
}

#timeleftMin {
  width: 70px;
  overflow: hidden;
  display: inline-block;
}

.day-left {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%,-50%);
   font-family: 'Romanesco', cursive;
}

}

