body, html {
  padding: 0;
}

body {
  background: transparent;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x:   hidden;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.secondPage{
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #fff;
}

.secondPageImage{
  height: 100vh;
  width: 100vw;
  position: relative;
  background: url(/images/weds3.jpg);
  background-repeat: no-repeat;
  background-position: -1px -150px;
  background-size: cover;
  opacity: 0.5;
}



.back-ground {
    height: 100%;
    width: 100%;
}

.back-ground:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(/images/weds.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.subtext {
    font-size: 3em;
    color: #fff;
    padding: 10px;
    background: #0074f3;
    border: 0;
    box-shadow: -3px 37px 34px 28px #654d5a;
}

.invitation-name {
  color: deeppink;
  text-align: center;
}

.invitation-name-span {
  font-size: 100px;
}

.invit-block {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
}

.invit-block-second {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
}

.invite-weds {
  font-size:60px;
  padding: 0px 20px; 
  color:deeppink;
  font-family: 'Loved by the King', cursive;
}

.date-block {
  overflow: hidden;
  display: inline-block;
  text-align: center;
  width: 15%;
  height: 20%;
  margin: 0 10px;
  border: 2px solid #0074f3;
  border-radius: 10px;
}

#timeleftSecond {
  display: block;
}

#timeleftDay {
  display: block;
}

#timeleftHours {
  display: block;
}

#timeleftMin {
  display: block;
}

.distance-invite {
  font-size: 10px;
}


svg {
    position: absolute;
    font: 6em 'Loved by the King';
    width: 100%;
    height: 800px;
    margin: 0 auto;
}

.text-copy {
    fill: deeppink;
    stroke: #fff;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: deeppink;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: deeppink;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: deeppink;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: deeppink;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: deeppink;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

.day-left {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
   font-family: 'Yanone Kaffeesatz', sans-serif;
}

.weakness {
  font-size: 2em;
}

.strength {
  font-size: 3em;
}






/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .invitation-name-span {
    font-size: 35px;
  }

  .subtext {
    font-size: 1.2em;
  }

  .back-ground {
    background-position: -130px 0px;
  }

  .secondPageImage{
    background-position: -200px 0px;
  }
  .invite-weds {
    font-size: 20px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
  .invitation-name-span {
    font-size: 35px;
  }

  .subtext {
    font-size: 1.2em;
  }

  .back-ground {
    background-position: -130px 0px;
  }

  .secondPageImage {
    background-position: -200px 0px;
  }

  .invite-weds {
    font-size: 20px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  .invitation-name-span {
    font-size: 35px;
  }

  .subtext {
    font-size: 1.2em;
  }

  .back-ground {
    background-position: -130px 0px;
  }

  .secondPageImage {
        background-position: -200px 0px;
  }

  .invite-weds {
    font-size: 20px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  .invitation-name-span {
    font-size: 35px;
  }

  .subtext {
    font-size: 1.2em;
  }

  .back-ground {
    background-position: -130px 0px;
  }

  .secondPageImage {
    background-position: -200px 0px;
  }

  .invite-weds {
    font-size: 20px;
  }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  .invitation-name-span {
    font-size: 35px;
  }

  .subtext {
    font-size: 1.2em;
  }

  .back-ground {
    background-position: -130px 0px;
  }

  .secondPageImage {
        background-position: -200px 0px;
  }

  .invite-weds {
    font-size: 20px;
  }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .invitation-name-span {
      font-size: 60px;
    }

    .subtext {
      font-size: 1.5em;
    }

    .secondPageImage {
      background-position: 0px 0px;
    }

    .back-ground {
      background-position: -130px 0px;
    }

    .invite-weds {
      font-size: 30px;
    }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    .invitation-name-span {
      font-size: 100px;
    }

    .subtext {
      font-size: 3em;
    }


    .back-ground {
      background-position: 0px -200px;
    }

    .secondPageImage{
      background-position: 0px -200px;
    }


    .invite-weds {
      font-size: 30px;
    }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
   .invitation-name-span {
      font-size: 100px;
    }

    .subtext {
      font-size: 3em;
    }


    .back-ground {
      background-position: 0px -200px;
    }

    .secondPageImage{
      background-position: 0px 0px;
    }


    .invite-weds {
      font-size: 30px;
    }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  .invitation-name-span {
    font-size: 80px;
  }

  .invite-weds {
    font-size: 40px;
  }
}
/* iPhone 6 landscape */
@media only screen and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2)
{ 
   .invitation-name-span {
    font-size: 35px;
  }

  .subtext {
    font-size: 1.2em;
  }

  .back-ground {
    background-position: -130px 0px;
  }

  .secondPageImage {
        background-position: -200px 0px;
  }

  .invite-weds {
    font-size: 20px;
  }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  .invitation-name-span {
    font-size: 35px;
  }

  .subtext {
    font-size: 1.2em;
  }

  .back-ground {
    background-position: -130px 0px;
  }

  .secondPageImage {
        background-position: -200px 0px;
  }

  .invite-weds {
    font-size: 20px;
  }
}

/* iPhone 6 portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2)
{ 
  .invitation-name-span {
    font-size: 35px;
  }

  .subtext {
    font-size: 1.2em;
  }

  .back-ground {
    background-position: -130px 0px;
  }

  .secondPageImage {
        background-position: -200px 0px;
  }

  .invite-weds {
    font-size: 20px;
  }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  .invitation-name-span {
    font-size: 35px;
  }

  .subtext {
    font-size: 1.2em;
  }

  .back-ground {
    background-position: -130px 0px;
  }

  .secondPageImage {
        background-position: -200px 0px;
  }

  .invite-weds {
    font-size: 20px;
  }
}

/* iPhone 6 Plus landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 3)
{ 
  .invitation-name-span {
    font-size: 35px;
  }

  .subtext {
    font-size: 1.2em;
  }

  .back-ground {
    background-position: -130px 0px;
  }

  .secondPageImage {
        background-position: -200px 0px;
  }

  .invite-weds {
    font-size: 20px;
  }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  .invitation-name-span {
    font-size: 35px;
  }

  .subtext {
    font-size: 1.2em;
  }

  .back-ground {
    background-position: -130px 0px;
  }

  .secondPageImage {
        background-position: -200px 0px;
  }

  .invite-weds {
    font-size: 20px;
  }
}

/* iPhone 6 Plus portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 3)
{ 
  .invitation-name-span {
    font-size: 35px;
  }

  .subtext {
    font-size: 1.2em;
  }

  .back-ground {
    background-position: -130px 0px;
  }

  .secondPageImage {
        background-position: -200px 0px;
  }

  .invite-weds {
    font-size: 20px;
  }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  .invitation-name-span {
    font-size: 35px;
  }

  .subtext {
    font-size: 1.2em;
  }

  .back-ground {
    background-position: -130px 0px;
  }

  .secondPageImage {
    background-position: -200px 0px;
  }

  .invite-weds {
    font-size: 20px;
  }
}

/* iPhone 6 and 6 Plus */
@media only screen
  and (max-device-width: 640px),
  only screen and (max-device-width: 667px),
  only screen and (max-width: 480px)
{ 
  .invitation-name-span {
    font-size: 35px;
  }

  .subtext {
    font-size: 1.2em;
  }

  .back-ground {
    background-position: -130px 0px;
  }

  .secondPageImage {
    background-position: -200px 0px;
  }

  .invite-weds {
    font-size: 20px;
  }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  .invitation-name-span {
    font-size: 35px;
  }

  .subtext {
    font-size: 1.2em;
  }

  .back-ground {
    background-position: -130px 0px;
  }

  .secondPageImage {
    background-position: -200px 0px;
  }

  .invite-weds {
    font-size: 20px;
  }
}

/* Apple Watch */
@media
  (max-device-width: 42mm)
  and (min-device-width: 38mm)
{ 
  .invitation-name-span {
    font-size: 35px;
  }

  .subtext {
    font-size: 1.2em;
  }

  .back-ground {
    background-position: -130px 0px;
  }

  .secondPageImage {
    background-position: -200px 0px;
  }

  .invite-weds {
    font-size: 20px;
  }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  .invitation-name-span {
    font-size: 35px;
  }

  .subtext {
    font-size: 1.2em;
  }

  .back-ground {
    background-position: -130px 0px;
  }

  .secondPageImage {
    background-position: -200px 0px;
  }

  .invite-weds {
    font-size: 20px;
  }
}


